<mat-toolbar style="height: 44px;min-height: 44px;max-height: 44px;color: #303030;background-color: #C0C0C0;font-size: larger">
  <mat-toolbar-row style="height: 44px;min-height: 44px;max-height: 44px;">
    <span>Spotify Artist Search</span>
    <div fxFlex="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <!--<li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>-->
        <!--<li>
          <button mat-icon-button (click)="Logout()">
            &lt;!&ndash;<mat-icon>help_outline</mat-icon>&ndash;&gt;
            Sign Out
          </button>
        </li>-->
        <!--<li>
          <button mat-icon-button>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Sign out f
              </button>

            </mat-menu>
          </button>
        </li>-->

      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
